@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	margin: 0;
	/* background: #d7dfd6; */
	background-color: #090c9b;
	text-align: center;
	color: #fbfff1;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	background-color: #b4c5e4;
	/* background-color: #4a9396; */
	margin: auto 10%;
	padding: 83px;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	border: 5px solid #3066be;
	border-radius: 10px;
	padding: 15px;
	background-color: #3066be;
	/* background-color: #003a26; */
	box-shadow: 0 8px 8px -4px #3066be;
	transition: scale 0.5s ease;
}

.project:hover {
	transform: scale(1.1);
}

.project-links {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 200px;
}

.project a {
	text-decoration: none;
	color: #fbfff1;
	/* color: #003a26; */
	font-weight: 700;
	margin-top: 5px;
	font-size: 18px;
	max-width: 90%;
}

.project a:hover {
	/* color: #c7ded2; */
	color: #3c3744;
	transition: 0.3s ease-in-out;
}

a.github-link {
	margin-left: 20px;
	font-size: 45px;
}

.project-image {
	width: 200px;
	height: 150px;
}
